.projects-wrapper {
  margin: 180px 0 0;

  .title {
    margin: 0 0 70px;
  }
}

.project-item {
  padding: 20px 0 19px;
  border-bottom: 1px solid var(--stroke-black);

  &:first-of-type {
    border-top: 1px solid var(--stroke-black);
  }
}

.description-wrapper {
  width: 50%;
}

.project-type {
  margin: 0 136px 0 0;
}

.main-color {
  color: var(--main);
}

.project-link {
  fill: var(--white);
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    fill: var(--main);
  }
}
