.education-section {
  background-image: url("../../assets/images/certificates.png");
  background-position: 0 104%;
  background-repeat: no-repeat;
  background-size: cover;
}

.education-wrapper {
  padding: 180px 0 327px;
  align-items: start;

  .title {
    margin: 0;
  }

  .education-description {
    width: 50%;
    margin: 148px 0 0 0;

    .company-wrapper {
      margin: 0 0 40px;
    }

    .company {
      margin: 0 0 20px;

      &-description {
        margin: 0 0 10px;
      }
    }
  }
}
