.experience-section.container {
  background-color: var(--white);
  color: var(--black);

  .wrapper {
    padding: 80px 0;
  }

  .black {
    color: var(--black);
  }

  .title {
    padding: 0 0 70px;
    margin-bottom: 0;
    border-bottom: 1px solid var(--stroke-white);
  }

  .work-item {
    padding: 35px 0;
    border-bottom: 1px solid var(--stroke-white);
  }

  .company-description {
    width: 66%;
  }

  .white-main {
    color: var(--white-main);
  }
}
