@font-face {
  font-family: "NeueHaasMedium";
  src: url("../fonts/NeueHaasDisplay-Roman.woff");
  font-weight: 500;
}

@font-face {
  font-family: "NeueHaasMediumItalic";
  src: url("../fonts/NeueHaasDisplay-RomanItalic.woff");
  font-weight: 500;
  font-style: italic;
}
