* {
  box-sizing: border-box;
}

body {
  font-family: NeueHaasMedium, serif;
  background-color: var(--black);
  color: var(--white);
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  max-width: 1920px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  transition: 0.3s;
  &:visited {
    color: var(--white);
  }
  &:-webkit-any-link {
    color: var(--white);
  }
  &:hover {
    transition: 0.3s;
    color: var(--stroke-black);
  }
}

i {
  font-family: NeueHaasMediumItalic, serif;
}

.container {
  padding: 0 70px;

  @media (max-width: 1200px) {
    padding: 0 17px;
  }
}

.h1,
h1 {
  font-weight: 500;
  font-size: 85px;
  line-height: 102px;
  color: var(--white);
  margin: 0 0 30px;

  @media (max-width: 1200px) {
    font-size: 50px;
    line-height: 60px;
  }
}

.h2,
h2 {
  font-weight: 500;
  font-size: 65px;
  line-height: 78px;
  color: var(--white);
  margin: 0;

  @media (max-width: 1200px) {
    font-size: 55px;
    line-height: 66px;
  }
}

.p15 {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

  @media (max-width: 1200px) {
    font-size: 14px;
    line-height: 17px;
  }
}

.p20 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.p30 {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  margin: 0;

  @media (max-width: 1200px) {
    font-size: 18px;
    line-height: 22px;
  }
}

.p32 {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;

  @media (max-width: 1200px) {
    font-size: 18px;
    line-height: 22px;
  }
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.underline {
  text-decoration: underline;
}
