:root {
  --black: #121212;
  --white: #ffffff;
  --stroke-black: rgba(255, 255, 255, 0.36);
  --main: #6b6b6b;
  --gray-line: rgba(214, 214, 214, 1);
  --white-main: #959595;
  --stroke-white: #d6d6d6;
}
